<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/main.css">

  </head>
  <body ng-app="easterdashApp" ng-controller="ApplicationCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <toast></toast>
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">easterdash</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li ng-class="{active: isActive('/')}"><a href="#/">Show me the money</a></li>
              <li ng-class="{active: isActive('/admin')}"><a ng-href="#/admin">admin</a></li>
              <li ng-class="{active: isActive('/stories')}"><a ng-href="#/stories">stories</a></li>
            </ul>

            <button type="button" class="navbar-btn btn btn-default pull-right" ng-click="showModal('setup')">
              <span class="glyphicon glyphicon-cog"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
        <!-- <p><span class="glyphicon glyphicon-wrench"></span> by mymedialab.co.uk</p> -->
        <p><span class="glyphicon glyphicon-scissors"></span> cut-n-pasted with care</p>
      </div>
    </div>

    <modal-dialog show='modals.setup.visible' dialog-title="setup" class="ng-hide">

      <div class="form-horizontal clearfix">
          <div class="form-group">
              <label class="col-sm-3" for="db-password">Remote couchDB password [optional]</label>
              <div class="col-sm-9">
                <input type="password" ng-model="settings.dbPassword" id="db-password" class="form-control">
              </div>
          </div>
          <hr>
          <div class="form-group">
              <div class="col-sm-9 col-sm-offset-3">
                <button ng-click="saveAppSettings(settings)" class="btn btn-primary">Save settings</buttonn>
                <button ng-click="clearAppSettings(settings)" class="btn btn-danger pull-right">Clear settings</buttonn>
              </div>
          </div>
      </div>
    </modal-dialog>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    -->

    <script src="http://code.highcharts.com/adapters/standalone-framework.js"></script>
    <!-- <script src="http://code.highcharts.com/highcharts.src.js"></script> -->
    <script src="http://code.highcharts.com/stock/highstock.src.js"></script>

    <script src="vendor.js"></script>
    <script src="app.js"></script>
</body>
</html>
