<div class="row cash">

  <p ng-if="loading">Loading...</p>

  <div class="col-md-4">
    <div class="panel-default panel">
      <div class="panel-heading">
        <h4>Current Totals</h4>
      </div>
      <div class="panel-body">
        <canvas ng-if="graphsReady" id="bar" class="chart chart-bar" data="teamTotals.data" labels="teamTotals.labels" width="300" height="520"></canvas>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div ng-repeat="team in teams" class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h4>{{team.name}}</h4>
        </div>

        <div class="panel-body">

          <p ng-if="team.loading">Loading...</p>

          <p ng-if="team.description">{{team.description}}</p>

          <canvas ng-if="graphsReady" id="line" class="chart chart-line" data="team.history.data" labels="team.history.labels" legend="true" series="team.history.series"></canvas>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12" ng-if="debug">
    <pre ng-bind="response | json"></pre>
  </div>

  <div ng-if="error" class="alert alert-danger">
    <strong>{{error.statusText}}</strong>
    <hr>
    <p>{{error.description}}</p>
  </div>

</div>
