<div class="row">

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Acceptance Criteria</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>S1</th>
        <td>As a mentor I want to see the onboard LED flash so that I am confident the team can deploy working code to the Arduino</td>
        <td>Given a working arduino when the code is deployed then the onboard LED flashes on for 1 second and off for 1 second.</td>
        <td>2</td>
      </tr>
      <tr>
        <th>S2</th>
        <td>As a mentor I want to see the two external LEDs flash alternately so that I am confident the team can interact with different outputs on the Arduino and connect components to breadboard</td>
        <td>Given a working arduino connected to breadboard when the code is deployed then 2 LEDs on the breadboard alternate every second.</td>
        <td>3</td>
      </tr>
      <tr>
        <th>S3</th>
        <td>As a mentor I want to see LEDs progress through a set pattern to simulate a robot going forward for 10 seconds, stop and reverse for 1 second so that the team have a working development environment for motor control</td>
        <td>Given the code is deployed when the reset button is pressed then the LEDs follow the correct sequence.</td>
        <td>5</td>
      </tr>
      <tr>
        <th>S4</th>
        <td>As a robot I want to move forward for 1 seconds, pause for 1 second and reverse for 1 seconds so that I can display basic motor control</td>
        <td>Given the code is deployed when the reset button is pressed the robot moves forwards for 1 seconds, stops for 1 second and reverses for 1 seconds repeatedly.</td>
        <td>5</td>
      </tr>
      <tr>
        <th>S5</th>
        <td>As a robot I want to drive forward for 10 seconds in a straight line so that I can display accurate motor control</td>
        <td>Given the code is deployed when the reset button is pressed the robot moves forwards for 10 seconds and stops and the robot has not veered more that 2cm from a straight line and the robot remains stopped</td>
        <td>5</td>
      </tr>
      <tr>
        <th>S6</th>
        <td>As a robot I want to drive forward 2 meters and stop so that I can display accurate distance measurement</td>
        <td>Given the code is deployed when the reset button is pressed the robot moves forwards 2 meters and stops and remains stopped.</td>
        <td>5</td>
      </tr>
      <tr>
        <th>S7</th>
        <td>As a robot I want to be able to move forward creating a square shape so that I can display accurate turning features</td>
        <td>Given the code is deployed when the reset button is pressed the robot moves forwards x and turns 90 degrees, repeating until a square is drawn. On completion of the robot stops and remains stopped.</td>
        <td>10</td>
      </tr>
      <tr>
        <th>S8</th>
        <td>As a robot I want to be able to draw a figure of eight so that I can display my manoeurability</td>
        <td>Given the code is deployed when the reset button is pressed the robot moves forwards x and turns 90 degrees, moves forward 2x and turns 90 degrees (repeat 3x), move forwards 2x and turns 270 degrees(repeat 4 times), finally move forward x and stop and in the position that the robot started.On completion the robot stops and remains stopped.</td>
        <td>5</td>
      </tr>
      <tr>
        <th>S9</th>
        <td>As a robot I want to be able to draw a figure of eight in the forwards direction and then in reverse so that I can display my manoeurability</td>
        <td>As previous story with the addition of a 1 second pause on completion of the forward figure of eight and then complete a reverse figure of eight</td>
        <td>5</td>
      </tr>
      <tr>
        <th>S10</th>
        <td>As a robot I want to stop before I hit an obstable so that I do not get damaged</td>
        <td>Given the robot is moving forwards when it encounters an obstacle then it must stop, pause and turn 90 degrees left without hitting the obstabcle</td>
        <td>10</td>
      </tr>
      <tr>
        <th>S11</th>
        <td>As a robot I want to stop if there is no ground within 5cm of the front of the robot</td>
        <td>Given the robot is moving forwards when it encounters a drop in terrain of 5cms it is to continue, when it encounters a drop in terrain of 6 cms it is to stop and reverse 10cm, stop and remain stopped.</td>
        <td>10</td>
      </tr>
      <tr>
        <th>S12</th>
        <td>As a robot I want to follow a homing beacon so that I can find my way to safety at the end of a mission</td>
        <td>Given the front of is a 145 degrees to a light source when the reset button is pressed then robot must find a light and drive towards it.</td>
        <td>15</td>
      </tr>
      <tr>
        <th>S13</th>
        <td>As a robot I want to follow a homing beacon across hostile terrain, safely avoiding obstacles and steep drops whilst continuing to follow the beacon so that I can find my way safely back at the end of a mission</td>
        <td>Given the robot has found and is following a light as in S12, it must stop at obstacles and find a way around until it arrives at the light source.</td>
        <td>20</td>
      </tr>

    </tbody>
  </table>

</div>














































































